.header{
  height:55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*distribute evenly*/
  position: fixed;
  top:0;
  left:0;
  right: 0;
  height:60px;
  background-color: white;
  border: 0.5px solid rgb(213, 213, 213);
  z-index: 100;
  
}

.hamburger-menu{
  height:24px;
  margin-left: 24px;
  margin-right: 24px;
}


.youtube-logo{
  height:20px;
}


.left-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar::placeholder{
  font-size: 16px;
  padding-left: 10px;
  
}

.search-bar{
  flex: 1;
  height: 36px;
  font-size: 16px;
  border: solid 1px lightgray;
 
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
  width:0;
 
  

}

.search{
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  margin-left:-1px;
  margin-right: 10px;
  
}

.search,
.voice,
.upload-icon-container,
.youTube-container,
.notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.search-icon{
  height: 25px;
  background-color: solid  rgb(231, 231, 231);
  border: none; 
}

.search .tooltip,
 .voice .tooltip,
 .upload-icon-container .tooltip,
 .youTube-container .tooltip,
 .notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color:white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.05s;
  pointer-events: none;
  white-space: nowrap;

}

.search:hover .tooltip, 
.voice:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youTube-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.voice{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);


}

.voice-icon{
  height: 24px;
}

.right-section{
  width:214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.upload{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
}

.upload-icon{
  height: 24px;
  margin-top: 4px;
}



.yT-app{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
}

.yT-app-icon{
  height: 24px;
  margin-top: 4px;
}

.notif{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
  
}

.notif-icon{
  height: 24px;
  margin-top: 4px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count {
  position: absolute;
  top:-2px;
  right:-1px;
  background-color: rgb(201, 4, 4);
  color:white;
  font-size: 12px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;

}


.myChannel{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  background-color: white;
 
}

.myChannel-icon{
  margin-top: 3px;
  height: 32px;
  border-radius: 20px;
}