.sidebar{
  background-color: white;
  position: fixed;
  left:0;
  bottom: 0;
  top: 59px;
  width: 72px;
  z-index: 200px;
  padding-top: 5px;
  cursor:pointer;

}

.sidebar a{
  text-decoration: none;
  color: black;
}

.sidebar-link{
  position: relative;
  height:74px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

.sidebar-link:hover{
  background-color: rgba(211, 211, 211, 0.437);
  border-radius: 20%;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar-icon{
  height:24px;
  margin-bottom: 4px;
 
}

.sidebar-link div{
  font-size: 10px;

}


.sidebar-link .tooltip{
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-bottom: 0px;
  padding: 4px;
  right:5px;
  bottom:5px;
  opacity: 0;
  transition: opacity 0.1s;
  transition-delay: 1s;
  pointer-events: none;
  white-space: nowrap;

}
.sidebar-link:hover .tooltip{
  opacity:1;
}





@media (min-width:750px) {
  .sidebar{
    width:102px;
  }
}

@media (min-width:1250px) {
  .sidebar{
    width:182px;
  }
  .sidebar-link{
    margin-left: 20px;
    justify-content: left;
    align-items: left;
    flex-direction: row;
  }
  .sidebar-link:hover{
    border-radius: 0;
  }
  .sidebar-icon{
    margin-right: 10px;
  }
  
}